<h1>Log In</h1>
<form method="POST" action="/login">
  <h3><label for="username">Username:</label></h3>
  <input type="text" name="username">
  <h3><label for="password">Password:</label></h3>
  <input type="text" name="password">
  <input type="submit" value="Log In" id="submit">
</form>