<h1>Sign Up</h1>
<form method="POST" action="/signup">
  <h3><label for="username">Username:</label></h3>
  <input type="text" name="username">
  <h3><label for="email">Email:</label></h3>
  <input type="text" name="email">
  <h3><label for="password">Password:</label></h3>
  <input type="text" name="password">
  <input type="submit" value="Sign Up">
</form>